*, ::before, ::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  /* Palette de couleur du site*/
  .bg-one{
    background-color: #d95918;
  }
  .bg-two{
      background-color: #ff8947;
  }
  .bg-three{
      background-color: #a02800;
  }
  .bg-allpages{
      background-color: #e0e0e0;
      width: 100%;
      height: 100vh;
  }
  .text-sombre{
      color: #333;
  }


  

  /*ACCUEIL*/
  .bg-accueil{
      background-image: url(images/big_artfichier_22577_8228339_201905232401516.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      height: 100vh;
  }
  .titre-accueil{
    margin-top: 12vh;
    margin-left: 25%;
    padding: 10px;
    color: #a02800;
  }
  /*Autres pages*/

  .principal{    /*header- site-content et footer*/
    margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
  }
  .site-content {  
	flex: 1;
  }

  .bg-description h2, .bg-situation h2{
      font-size: 4vmin;
  }
  .liste-coquillage{
      list-style-image: url(images/icons8-shell-16.png);
  }
  .border-blue{
    border: 2px solid #a02800;
  }
  .equipement, .bg-situation h1{
      margin-top: 50px;
  }
  .equipement{
      height: auto;
      width: auto;
  }
  
  
  .navbar-nav{
      margin: auto;
  }
  .navbar-nav a{
      margin-right: 2vmin;  
  }
  .liens{
  color:#a02800;
  }
  .liens:hover{
      color: #ff8947;
  }
  .nav-link:hover{
    background-color: #ff8947;
  }
  .liens-footer:hover{
     color: #a02800;
     font-weight: bold;
  }
  

figure, .image-sans-figure{
      box-shadow: 0px 2px 8px 0px #d95918;
      border-radius: 1rem;    
  }
  .figure-img{
      border-radius: 1rem 1rem 10px 10px;
  }
  

  @media screen and (min-width: 320px) and (max-width: 480px){

    .titre-accueil{
        margin-top: 5vh;
        margin-left: 25%; 
  }
  .icone-equipement{
      display: none;
  }
  .liensutiles{
      display: flex;
      flex-direction: column;
      
  }
  .liste-coquillage li{
      width: 100%;
  }
  .equipement-1{
      width: 100%;
      flex-direction: column;  
  }
}
@media screen and (min-width: 480px) and (max-width: 768px){
    .equipement-1{
        flex-direction: column;  

    }
    .icones-equipement{
        width: 100%;
    }
}  
